.task1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.task1-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.task1-container1 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.task1-text {
  color: #ffffff;
  margin-top: var(--dl-space-space-unit);
  font-weight: bold;
  margin-bottom: var(--dl-space-space-unit);
}
.task1-text3 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  max-width: 450px;
}
.task1-text4 {
  color: rgb(255, 255, 255);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.task1-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.task1-navlink {
  color: rgb(255, 255, 255);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 64px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.task1-navlink:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.task1-navlink1 {
  color: rgb(255, 0, 0);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: transparent;
}
.task1-navlink1:hover {
  border-color: var(--dl-color-gray-black);
}
.task1-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.task1-div {
  height: 855px;
}
@media(max-width: 1200px) {
  .task1-container2 {
    border-radius: 36px;
  }
  .task1-div {
    height: 855px;
    border-radius: 32px;
  }
}
@media(max-width: 991px) {
  .task1-hero {
    flex-direction: column;
  }
  .task1-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .task1-text {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .task1-text3 {
    text-align: center;
  }
  .task1-text4 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .task1-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .task1-text {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .task1-text4 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .task1-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .task1-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .task1-btn-group {
    flex-direction: column;
  }
  .task1-navlink1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
