.start-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.start-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.start-container1 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.start-text {
  font-size: 3rem;
  max-width: var(--dl-size-size-maxwidth);
}
.start-text1 {
  height: 89px;
  font-size: 3rem;
  max-width: var(--dl-size-size-maxwidth);
}
.start-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.start-navlink {
  color: rgb(255, 255, 255);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 64px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.start-navlink:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.start-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 1600px) {
  .start-navlink {
    border-radius: 64px;
  }
}
@media(max-width: 1200px) {
  .start-container1 {
    width: 1094px;
    margin-right: 0px;
    padding-right: 0px;
  }
  .start-text {
    width: 1094px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .start-text1 {
    width: 1078px;
    margin: 0px;
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-fiveunits);
  }
  .start-btn-group {
    align-self: flex-start;
  }
  .start-navlink {
    border-radius: 64px;
  }
  .start-container2 {
    border-radius: 36px;
  }
}
@media(max-width: 991px) {
  .start-hero {
    flex-direction: column;
  }
  .start-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .start-text {
    text-align: center;
  }
  .start-text1 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .start-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .start-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .start-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .start-btn-group {
    flex-direction: column;
  }
}
